
span.visited-text {
  display: inline-block;
  width: 10%;

}

form.visited-form {
  display: inline;
}

div.wishlist-place {
  text-align: left;
  margin-top: 20px;
}

label {
  display: inline-block;
  padding-right: 8px;
}